#fond {
    background-color:rgb(65, 90, 112) ;
width: 380px; min-height: 200px;
border-color: white;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.658);
padding: 10px 4px 4px 4px;
font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    text-shadow: 1px 2px 1px rgba(42, 43, 58, 0.308);
}

#image {background-color:rgb(243, 243, 243);
    background-image: url(noise.jpg);
    width: 360px;
    height: 160px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;


}

#clearer {
  
background-color:rgb(243, 243, 243);
width: 360px;
min-height: 180px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;

}

#text
{padding: 5px;
    text-align: justify;
    text-shadow: none;
font-size: 13;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: normal;
}